body {
    background-image: url('../images/cap4.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


h1 {
    text-align: center;
    /* Centraliza o texto*/
    color: var(--cor-02);
    /* Aplica cor no texto*/
    font-weight: 800;
    /* Peso da Fonte ( grossura )*/
    margin: 30px;
    /* Margem */
    font-family: 'Playfair Display', serif;
}

#box_texto {
    color: var(--cor-04);
    text-shadow: 0.1em 0.1em var(--cor-02);
    margin-top: 80px;
}

#box_editora {
    text-align: center;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 300px;
    background-color: rgba(0, 0, 0, 0.548);
    padding: 30px;
    border-radius: 20px;
    border-style: ridge;
    font-size: 20px;
    color: var(--cor-04);
    box-shadow: 5px 10px 18px var(--cor-06);
}

.but {
    display: block;
    background-color: var(--cor-04);
    padding: 20px;
    border-radius: 30px;
    color: var(--cor-02);
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
    transition: all 0.3s linear;
    margin-top: 50px;
}

.but:hover {
    box-shadow: 3px 3px 10px var(--cor-06);
}