body {

    background-image: url('../images/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


h1 {
    text-align: center;
    /* Centraliza o texto*/
    color: var(--cor-02);
    /* Aplica cor no texto*/
    font-weight: 800;
    /* Peso da Fonte ( grossura )*/
    margin: 30px;
    /* Margem */
    font-family: 'Playfair Display', serif;
}



#box_texto {
    color: var(--cor-04);
    text-shadow: 0.1em 0.1em var(--cor-02);
    margin-top: 80px;
}

/* FAZER SEPARADO CASO DESEJE ALTERAÇÃO EM UMA ESPECIFICA */



#box_html {
    text-align: center;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 300px;
    background-color: rgba(0, 0, 0, 0.548);
    /* background-color: var(--cor-02); */
    /* color: var(--cor-04); */
    /* opacity: 0.67; */
    padding: 30px;
    border-radius: 20px;
    border-style: ridge;
    font-size: 20px;
    color: var(--cor-04);
    box-shadow: 5px 10px 18px var(--cor-06);


}

#fontet {
    margin-left: 900px;
    color: var(--cor-08);
}




/* SEGURANÇA CSS  */

/* #box-historia {
    text-align: center;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 900px;
    background-color: var(--cor-04);
    padding: 30px;
    border-radius: 20px;
    border-style: ridge;
    font-size: 20px;

} */



/* #box-editora {
    text-align: center;
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 900px;
    background-color: var(--cor-04);
    padding: 30px;
    border-radius: 20px;
    border-style: ridge;
    font-size: 20px;
} */

/* .but {
    display: block;
    background-color: var(--cor-01);
    padding: 20px;
    border-radius: 30px;
    color: var(--cor-04);
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
    transition: all 0.3s linear;
    margin-top: 50px;
} */

/* .but:hover {
    box-shadow: 3px 3px 10px var(--cor-02);
} */


/* #fotos-galeria {
    margin-top: 90px;
} */




/* #video-trailer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 180px;


} */


/* #fotos .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px
}

#fotos .container img {
    width: 100%;
    transition: all 0.2s linear;
}

#fotos .container img:hover {
    transform: scale(0.9);
} */

/* #banner {
    width: 365px;
    margin-left: 460px;
} */