body {
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}



h1 {
    text-align: center;
    /* Centraliza o texto*/
    color: var(--cor-02);
    /* Aplica cor no texto*/
    font-weight: 800;
    /* Peso da Fonte ( grossura )*/
    margin: 30px;
    /* Margem */
    font-family: 'Playfair Display', serif;
}

#box_texto {
    color: var(--cor-04);
    text-shadow: 0.1em 0.1em var(--cor-02);
    margin-top: 80px;

}

#banner .container {
    align-items: center;
    width: 365px;
    box-shadow: 2px 5px 18px var(--cor-06);

}
